<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382977062523-v1u3dl2ksapnhai4l78h3bjt66jgnsbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382977062523-v1u3dl2ksapnhai4l78h3bjt66jgnsbk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>382977062523-82o7tspfvp1e2pu8t7a2imdqgfse17pj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGN1jVCDLhLiout3fAlfb5c5d9EyFZoYc</string>
	<key>GCM_SENDER_ID</key>
	<string>382977062523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bfc.flutterLivechatApp</string>
	<key>PROJECT_ID</key>
	<string>flutterlivechat-1064e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlivechat-1064e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382977062523:ios:e8ba7206582ff8011954de</string>
</dict>
</plist>